# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mod

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
/bin

# User files
/src/local.mak
*.suo
*.u2d

# Makefile object
/src/libs/build-stamp
/*build*

/morris_meth/ipch
/morris_meth/Debug
/pest++/ipch
/pest++/pest++/Debug
/pest++/pest++/Release
/pest++/x64
/pest_routines/pest_routines/Debug
/pest++/Debug
/genie/Debug
/genie/Release
/pest++/Release
/propack/propack/Debug
Debug
Win32
x64
/pest++/run_manager_fortran_test/Release
/pest++/benchmarks/3pg/pestpp/
/pest++/benchmarks/10par_xsec/pestpp/
/pest++/benchmarks/box/pestpp/
/pest++/benchmarks/henry/pestpp/
/pest++/benchmarks/kirishima/pestpp/
/pest++/benchmarks/stor/pestpp/
/pest++/benchmarks/tidal/pestpp/
/pest++/benchmarks/mou_tests/

pest++/mio/model_input_output_interface.mod
pest++/pest++/pestpp
pest++/run_manager_fortran_test/fortran_test
pest++/sweep/sweep

.DS_Store
/src/.vs
/src/libs/common/ix64/Release
*.user
*.u2d
*.log
/src/UpgradeLog.htm
*_z

